html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.primary-text{
  color:rgba(134,239,172,255);
  border-color:rgba(134,239,172,255) ;
}

.secondary-text{
  color: rgba(213,247,230,255);
}

body{
  background-color: rgba(33,37,41,255);
}

.remove-events{
  pointer-events: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-56 { font-size: 56px; }

