<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Books</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <!-- Personal CSS -->
        <link rel="stylesheet" href="../static/css/styles.css">
        <!-- Spring load css -->
        <link rel="stylesheet" href="css/styles.css">
        <!-- Google Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <div class="container">

        <body class="d-flex flex-column h-100">
            <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5 mb-5">
                    <h1 class="primary-text " href="index.html">myBook</h1>
                    <button class="primary-text btn ">Donate Us</button>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark header">
                <div class="container px-10">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-7 col-xl-6 col-xxl-5">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder primary-text mb-2">Improve Your Critical Thinking</h1>
                                <p class="lead fw-normal text-white-50 mb-4">The more that you read, the more things you will know. The more that you learn, the more places you’ll go.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a  class="btn primary-text btn-lg px-4 me-sm-3" href="#search">Let's Start</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-6 col-xxl-7 d-xl-block text-center">
                            <img class="img-fluid rounded-3 remove-events mb-5" src="../static/img/background.png" alt="..." /></div>
                            <!-- <img class="img-fluid rounded-3 remove-events mb-5" src="img/background.png" alt="..." /></div> -->
                        </div>
                    </div>
            </header>

            
            <!-- Quotes -->
            <div class="py-5 bg-dark mt-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic text-white-50">“Books are the ultimate Dumpees: put them down and they’ll wait for you forever; pay attention to them and they always love you back.”</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="fw-bold text-white-50">
                                        John Green
                                        <span class="fw-bold text-primary mx-1 text-white-50">,</span>
                                        An Abundance of Katherines
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <section id="features" class="features">
                <h1 class="primary-text text-center mt-5">We got you covered!</h1>
                <p class="lead fw-normal text-white-50 text-center">we gladly made this application to make things easier,
                    so we provide this application with</p>
                    <div class="row">
                        <div class="col-lg-4 col-xl-4 col-xxl-4 text-center">
                            <h2 class="secondary-text">Easy To Access</h2>
                            <span class="material-symbols-outlined primary-text material-icons md-56 mt-3">
                                sentiment_very_satisfied
                            </span>
                            <p class="text-center text-white-50 mt-2 mb-5">Our website is easy to access,<br> you can access it through your <br>mobile devices, or
                                through<br> your pc
                            </p>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-xxl-4 text-center">
                            <h2 class="secondary-text text-center">Ton of Resources</h2>
                            <span class="material-symbols-outlined primary-text material-icons md-56 mt-3">
                                menu_book
                            </span>
                            <p class="text-center text-white-50 mt-2 mb-5">There's unlimited resources that <br> you can find in our
                            website, <br> there's no limit for learning</p>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-xxl-4 text-center">
                            <h2 class="secondary-text text-center">Google Books APIs</h2>
                            <span class="material-symbols-outlined primary-text material-icons md-56 mt-3">
                                code
                            </span>
                            <p class="text-center text-white-50 mt-2 mb-5">Google let us borrow their free<br> API for us to create a powerfull<br> website </p>
                        </div>
                    </div>
            </section>

            <!-- Search -->
            <section id="search" class="search">
                <h1 class="primary-text text-center mt-5">Try Searching!</h1>
                <p class="lead fw-normal text-white-50 text-center">try to fill the box below, you'll like it!</p>
                <form th:action="@{/search}">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-8 col-offset-1 col-xm-8 offset-xm-1  col-sm-8 offset-sm-1 col-lg-9 offset-lg-1 ">
                                <input type="text" th:name="judul"class="form-control bg-dark primary-text text-white-50" id="exampleFormControlInput1">
                            </div>
                            <div class="col-2 col-sm-2 col-lg-2">
                                <button class="btn primary-text btn-md px-4 me-sm-3">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

            <!-- Buku -->
            <section id="buku" class="buku col-12 col-xm-12  col-sm-10 offset-sm-1 col-lg-8 offset-lg-2"
            th:each="book : ${books}">
                <div class="card mb-3 border-success text-bg-dark text-white-50">
                    <div class="row g-0">
                      <div class="col-md-2 text-center">
                        <img th:if="${book.volumeInfo.imageLinks != null}" th:src="${book.volumeInfo.imageLinks.thumbnail}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body" >
                          <h5 class="card-title"><a class="text-white-50 remove-decor" th:href="${book.volumeInfo.infoLink}"th:text="${book.volumeInfo.title}"></a></h5>
                              <!-- <p class="card-text" th:text="${book.volumeInfo.description}" maxlength="10">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <p class="card-text text-right" th:text="${book.volumeInfo.publishedDate}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </section>

            <!-- Documentation -->
            <section id="documentation" class="bg-dark">
                <div class="container">

                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-5 col-xl-6 col-xxl-7 text-center">
                            <img class="img-fluid rounded-3 remove-events mb-5" src="../static/img/documentation.png" alt="..." />
                        </div>
                            <!-- <img class="img-fluid rounded-3 remove-events mb-5" src="img/background.png" alt="..." /></div> -->
                            <div class="col-lg-5 col-xl-6 col-xxl-5">
                                <h2 class="primary-text mb-2">Documentation</h2>
                                <p class="lead fw-normal text-white-50 mb-5">We'll provide the documentation of this website</p>
                                <p class="lead fw-normal text-white-50">You can read how I craft this website from scratch, starting from the UI
                                    design, API documentation, also contain the problem and solution of creating this website.
                                </p>
                                <a  class="btn primary-text btn-lg mb-5" href="#search">Documentation</a>
                            </div>
                        </div>
                        
                    </div>
            </section>

             <!-- Contributors -->
            <section class="page-section bg-dark" id="contributors">
                <h1 class="primary-text text-center mt-5">Contributors</h1>
                <p class="lead fw-normal text-white-50 text-center">Behold! the OG contributors of this website!</p>
                <div class="container text-center">
                    <div class="row justify-content-md-center">
                        <div class="col col-lg-2">
                            <img src="https://github.com/WildDG.png" alt="" class="rounded-circle" width="130px">
                            <h4 class="primary-text mt-0 mt-3" >WildDG</h4>
                            <p class = "font-weight-light text-white-50">Air Support</p>
                        </div>
                        <div class="col-md-auto">
                            <img src="https://github.com/pownyfals.png" alt="" class="rounded-circle" width="130px">
                            <h4 class="primary-text mt-0 mt-3" >Kevin Febrian</h4>
                            <p class = "font-weight-light text-white-50">Main Carry</p>
                        </div>
                        <div class="col col-lg-2">
                            <img src="https://github.com/msyahrul801.png" alt="" class="rounded-circle" width="130px">
                            <h4 class="primary-text mt-0 mt-3" >UwU roel</h4>
                            <p class = "font-weight-light text-white-50">Air Support</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer -->
            <footer class="text-center text-white-50 py-5">        
                Made with <svg viewBox="0 0 1792 1792" 
                preserveAspectRatio="xMidYMid meet" 
                xmlns="http://www.w3.org/2000/svg" 
                style="height: 0.8rem;">
                <path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 
                0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 
                600q-18 18-44 18z" fill="#e25555"></path>
                </svg> by <a href="https://github.com/Pownyfals" class="primary-text remove-decor">Kevin</a>
            </footer>



        </div>
            
            
            
            
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="../static/js/scripts.js"></script>
            <!-- Spring theme JS-->
            <script src="js/scripts.js"></script>
        </body>
        </html>
        